<button type="button" class="do-something" {{on "click" this.doSomething}}>Do something</button>

{{#if this.doingSomething}}
  <div class="loading">Please wait...</div>
{{else if this.doneOnce}}
  <div class="done">Done</div>
{{/if}}